@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@400;500&family=Roboto&display=swap');

footer {
    margin-top: 60px;
    padding-bottom: 30px !important;
    padding-left: 30px;
    padding-right: 30px;
    background: #fafafa;
    padding-top: 30px !important;
    font-family: 'Raleway';
}

.main {
    min-height:70%;
}

.search-wrapper {
    position: relative;
}

.admin-dashboard-view {
    min-height: 70vh;
    padding-top:100px;
}

.fredoka-font {
    font-family: 'Fredoka One', cursive;
}

.default-anchor.x-pad-right {
    padding-right:0px !important;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.image-thumbnail img {
    width:100%;
}

.flex-in {
    display:flex;
    align-items: center;
}

.flex-in .product-details{
    width:65%;
    padding-left:30px;
}

.product-list.admin-products .card {
    flex: 0 0 45% !important;
}

.image-thumbnail {
    text-align: center;
    width: 45%;
}

.product-details {
    text-align:right;
}

.product-price {
    font-family: 'Roboto', sans-serif !important;
    font-size:25px;
    color:#EE4D2D;
}

.view-product {
    border: 1px solid #3AA9D3 !important;
    background:#3AA9D3;
    color:#fff !important;
    border-radius: 20px;
    padding-right: 16px !important;
    padding-left: 16px !important;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Raleway', sans-serif !important;
    text-decoration:none !important;
    font-size:14px;
    
}

.product-details .card-title {
    font-size: 20px;
    padding-bottom: 15px;
}

.product-list .card {
    flex: 0 0 30%;
    display: block !important;
    padding-bottom: 10px !important;
    margin: 20px 20px !important;
    border: none;
    background: #F6F7FB;
}

.registration-view,
.login-view {
    padding-top:60px;
}

.registration-view form {
    width: 70%;
    margin: 60px auto;
}

.login-view form {
    width:50%;
    margin: 60px auto;
}

#product-highlights h3 {
    padding-bottom:20px;
    padding-top:30px;
}

.nav-link{
    font-family: 'Raleway', sans-serif !important;
    font-weight:600 !important;
}

.default-anchor {
    border: 1px solid transparent !important;
    border-radius: 20px;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.login {
    border: 1px solid #DBDBDB !important;
    border-radius: 20px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-right:15px;
}

.logout {
    border: 1px solid #AB2025 !important;
    background:#AB2025;
    color:#fff !important;
    border-radius: 20px;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.shop-cta {
    border: 1px solid #3AA9D3 !important;
    background:#3AA9D3;
    color:#fff !important;
    border-radius: 20px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top:8px;
    padding-bottom:9px;
    text-decoration: none !important;
    display: inline-block !important;
}
/* 
.search-form form{
    display:flex;
} */

#searchProduct {
    padding:30px; 
    border-radius: 60px;
}

.search-form .form-group {
    width:100%; 
}

.search-form button {
    position: absolute;
}

.search-form #submitBtn {
    top: 0;
    right: 0;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.default-cta {
    border: 1px solid #3AA9D3 !important;
    background:#3AA9D3;
    color:#fff !important;
    border-radius: 20px;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.join-now {
    border: 1px solid #3AA9D3 !important;
    background:#3AA9D3;
    color:#fff !important;
    border-radius: 20px;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

#hero-banner {
    margin-top:40px; 
    margin-bottom:50px;
    padding:30px;
    border-radius: 65px;
    background:#F6F7FB;
}

#hero-banner h1 {
    padding-bottom:10px;
}

#hero-banner p {
    font-family: 'Raleway', sans-serif !important;
    font-size:20px; 
    margin-bottom:35px !important;
}

.main {
    margin-bottom: 100px;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1240px;
    }
}